/* 관리자 로그인 */
.login-wrap {
    width: 400px;
    margin: 100px auto 0;
    padding: 0 20px;
    box-sizing: border-box;
}

.login-wrap .header-logo {
    width: 240px;
}

.login-wrap .header-logo img {
    width: 100%;
}

.login-wrap .login-box {
    position: relative;
    margin-top: 40px;
}

.login-wrap .login-box .input {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    border: 1px solid #eee;
    box-sizing: border-box;
    background-color: #fff;
    outline: none;
    appearance: none;
}

.login-wrap .login-box .input::placeholder {
    color: #a8a8a8;
}

.login-wrap .login-box .input:focus {
    z-index: 2;
    border-color: #a586f6;
}

.login-box input:nth-child(1) {
    border-radius: 4px 4px 0 0;
}

.login-box input:nth-child(2) {
    margin-top: -1px;
    border-radius: 0 0 4px 4px;
}

.btn-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.btn-login {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    color: #fff;
    background: #333;
    cursor: pointer;
}

.btn-join {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 1px solid #333;
    border-radius: 5px;
    background: #fff;
    color: #333;
    cursor: pointer;
}
