/* 관리자 - 카테고리관리 */
.list-category {
    border-top: 1px solid #adadad;
}

.list-category-li {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    border-bottom: 1px solid #adadad;
    list-style: none;
}

.add-category {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    margin-top: 30px;
    border-radius: 6px;
    background-color: #eee;
}

.btn-add-newcategory {
    display: none;
}

.check-category {
    margin-top: 3px;
    margin-left: 10px;
    font-size: smaller;
    color: #ff1823;
}

.btn-box {
    margin-left: auto;
}

.btn-submit {
    margin-left: auto;
}
