<!doctype html>
<html lang="ko">
    <div class="wrap">
        <head>
            <%- include('../views/partials/admin-head.ejs'); %>
            <link rel="stylesheet" href="/css/admin/admin-product-add.css" />

            <script type="module" src="/js/admin/admin-product-add.js"></script>
            <title>관리자 - 상품추가</title>
        </head>
        <body>
            <div class="dashboard">
                <%- include('../views/partials/admin-aside.ejs'); %>
                <article class="article">
                    <div class="title-box">
                        <h2 class="title">상품 추가</h2>
                    </div>
                    <section class="product-add-wrap">
                        <form action="/api/product" enctype="multipart/form-data" method="post">
                            <div class="image-box">
                                <img class="user-image" id="userImage" />
                            </div>
                            <div class="tbl-box">
                                <table class="tbl">
                                    <colgroup>
                                        <col width="120px" />
                                        <col />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th scope="row">상품명</th>
                                            <td>
                                                <input
                                                    type="text"
                                                    id="inputName"
                                                    class="input input-box"
                                                    name="name"
                                                    required
                                                />
                                                <p class="check" id="checkName"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">가격</th>
                                            <td>
                                                <input
                                                    type="number"
                                                    id="inputPrice"
                                                    class="input input-box"
                                                    name="price"
                                                    required
                                                />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">설명</th>
                                            <td>
                                                <textarea
                                                    class="textarea"
                                                    id="inputDescription"
                                                    class="input input-box"
                                                    name="description"
                                                    required
                                                ></textarea>
                                                <p class="check" id="checkDescription"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">제조사</th>
                                            <td>
                                                <input
                                                    type="text"
                                                    id="inputCompany"
                                                    class="input input-box"
                                                    name="company"
                                                    required
                                                />
                                                <p class="check" id="checkCompany"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">카테고리</th>
                                            <td>
                                                <select name="categoryName" class="select" required>
                                                    <% categories.forEach(category =>{ %>
                                                    <option value="<%= category.name %>">
                                                        <%= category.name %>
                                                    </option>
                                                    <% }) %>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">이미지</th>
                                            <td>
                                                <input
                                                    id="imageName"
                                                    class="input input-box"
                                                    value="첨부파일"
                                                />
                                                <input
                                                    type="file"
                                                    class="add-image"
                                                    id="addImage"
                                                    name="productImage"
                                                    accept="image/*"
                                                    required
                                                />
                                                <label
                                                    for="addImage"
                                                    class="btn btn-main-line"
                                                    id="addImageLabel"
                                                    >찾기</label
                                                >
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tbl-btn-box">
                                <input type="submit" class="btn btn-main" />
                            </div>
                        </form>
                    </section>
                </article>
            </div>
        </body>
    </div>
</html>
