<!doctype html>
<html lang="ko">
    <head>
        <%- include('../views/partials/admin-head.ejs'); %>
        <link rel="stylesheet" href="/css/admin/admin-signin.css" />

        <script type="module" src="/js/admin/admin-signin.js"></script>
        <title>관리자 회원가입</title>
    </head>
    <body class="container">
        <main role="main" class="contents">
            <div class="contents-inner">
                <div class="admin-signin-wrap">
                    <h2 class="title">회원가입</h2>
                    <div class="tbl-box">
                        <table class="tbl">
                            <colgroup>
                                <col width="100px" />
                                <col />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <span>이메일</span>
                                    </th>
                                    <td>
                                        <input
                                            type="text"
                                            id="emailInput"
                                            class="input input-box"
                                            placeholder="공유된 형식으로 작성해주세요"
                                        />
                                        <button id="emailCheckBtn" class="btn btn-main-line">
                                            중복확인
                                        </button>
                                        <p id="emailCheck" class="msg"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <span>비밀번호</span>
                                    </th>
                                    <td>
                                        <input
                                            type="password"
                                            id="passwordInput"
                                            class="input input-box"
                                            placeholder="비밀번호를 입력해주세요"
                                        />
                                        <p id="passwordCheck" class="msg"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">비밀번호 확인</th>
                                    <td>
                                        <input
                                            type="password"
                                            id="passwordInputConfirm"
                                            class="input input-box"
                                            placeholder="비밀번호를 한번 더 입력해주세요"
                                        />
                                        <p id="pwConfirmCheck" class="msg"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">이름</th>
                                    <td>
                                        <input
                                            type="text"
                                            id="nameInput"
                                            class="input input-box"
                                            placeholder="이름은 2~4글자로 입력해주세요"
                                        />
                                        <p id="nameCheck" class="msg"></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tbl-btn-box">
                        <a href="#" class="btn btn-main" id="btnSignin">관리자 회원가입</a>
                    </div>
                    <div class="login-page">
                        이미 아이디가 있으신가요?
                        <a href="/admin/login" class="btn"> 로그인 &gt;</a>
                    </div>
                </div>
            </div>
        </main>
        <script></script>
    </body>
</html>
