<!doctype html>
<html lang="ko">
    <div class="wrap">
        <head>
            <%- include('../views/partials/admin-head.ejs'); %>
            <link rel="stylesheet" href="/css/admin/admin-product-add.css" />

            <title>관리자 - 상품추가</title>
        </head>
        <body>
            <div class="dashboard">
                <%- include('../views/partials/admin-aside.ejs'); %>
                <article class="article">
                    <div class="title-box">
                        <h2 class="title">상품 추가</h2>
                    </div>
                    <section class="product-add-wrap">
                        <form action="/api/product" enctype="multipart/form-data" method="post">
                            <div class="image-box">
                                <img class="user-image" id="userImage" />
                            </div>
                            <div class="tbl-box">
                                <table class="tbl">
                                    <colgroup>
                                        <col width="120px" />
                                        <col />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th scope="row">상품명</th>
                                            <td>
                                                <input
                                                    type="text"
                                                    id="inputName"
                                                    class="input input-box"
                                                    name="name"
                                                    required
                                                />
                                                <p class="check" id="checkName"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">가격</th>
                                            <td>
                                                <input
                                                    type="number"
                                                    id="inputPrice"
                                                    class="input input-box"
                                                    name="price"
                                                    required
                                                />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">설명</th>
                                            <td>
                                                <textarea
                                                    class="textarea"
                                                    id="inputDescription"
                                                    class="input input-box"
                                                    name="description"
                                                    required
                                                ></textarea>
                                                <p class="check" id="checkDescription"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">제조사</th>
                                            <td>
                                                <input
                                                    type="text"
                                                    id="inputCompany"
                                                    class="input input-box"
                                                    name="company"
                                                    required
                                                />
                                                <p class="check" id="checkCompany"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">카테고리</th>
                                            <td>
                                                <select name="categoryName" class="select" required>
                                                    <% categories.forEach(category =>{ %>
                                                    <option value="<%= category.name %>">
                                                        <%= category.name %>
                                                    </option>
                                                    <% }) %>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">이미지</th>
                                            <td>
                                                <input
                                                    id="imageName"
                                                    class="input input-box"
                                                    value="첨부파일"
                                                />
                                                <input
                                                    type="file"
                                                    class="add-image"
                                                    id="addImage"
                                                    name="productImage"
                                                    accept="image/*"
                                                    required
                                                />
                                                <label
                                                    for="addImage"
                                                    class="btn btn-main-line"
                                                    id="addImageLabel"
                                                    >찾기</label
                                                >
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tbl-btn-box">
                                <input
                                    type="submit"
                                    class="btn btn-main"
                                    onsubmit="window.location.reload(true);"
                                />
                            </div>
                        </form>
                    </section>
                </article>
            </div>
            <script>
                const $inputName = document.querySelector('#inputName');
                const $inputDescription = document.querySelector('#inputDescription');
                const $inputCompany = document.querySelector('#inputCompany');

                const $checkName = document.querySelector('#checkName');
                const $checkDescription = document.querySelector('#checkDescription');
                const $checkCompany = document.querySelector('#checkCompany');

                function validateName() {
                    if ($inputName.value.length >= 30) {
                        $checkName.textContent = '상품명을 30자 미만으로 입력해주세요.';
                    } else {
                        $checkName.textContent = '';
                    }
                }

                function validateDescription() {
                    if ($inputDescription.value.length >= 150) {
                        $checkDescription.textContent = '설명을 150자 미만으로 입력해주세요.';
                    } else {
                        $checkDescription.textContent = '';
                    }
                }

                function validateCompany() {
                    if ($inputCompany.value.length >= 30) {
                        $checkCompany.textContent = '제조사를 30자 미만으로 입력해주세요.';
                    } else {
                        $checkCompany.textContent = '';
                    }
                }

                $inputName.addEventListener('input', validateName);
                $inputDescription.addEventListener('input', validateDescription);
                $inputCompany.addEventListener('input', validateCompany);

                const $userImage = document.querySelector('#userImage');
                const $addImage = document.querySelector('#addImage');
                const $addImageLabel = document.querySelector('#addImageLabel');
                const $imageName = document.querySelector('#imageName');

                function previewImg() {
                    let preview = new FileReader();
                    preview.onload = function (e) {
                        $userImage.src = e.target.result;
                    };
                    preview.readAsDataURL($addImage.files[0]);

                    const fileName = $addImage.value;
                    $imageName.value = fileName;
                }
                $addImage.addEventListener('change', previewImg);
            </script>
        </body>
    </div>
</html>
