<!doctype html>
<html lang="ko">
    <head>
        <%- include('../views/partials/head'); %>

        <script type="module" src="/js/change-password.js"></script>
        <title>마이페이지 - 비밀번호변경</title>
    </head>

    <body class="container">
        <header class="header"><%- include('../views/partials/header'); %></header>

        <main role="main" class="contents">
            <div class="contents-inner">
                <div class="section-aside-wrap">
                    <aside class="aside">
                        <nav class="sidebar">
                            <h2 class="title">마이페이지</h2>
                            <ul class="sidebar-menu">
                                <li class="on">
                                    <a
                                        class="btn menu"
                                        href="/order/<%= userInfo.userId %>/orderList"
                                    >
                                        주문 내역
                                    </a>
                                </li>
                                <li>
                                    <a class="btn menu" href="/users/info">개인 정보 수정</a>
                                </li>
                                <li>
                                    <a class="btn menu" href="/users/info/edit/pw">비밀번호 변경</a>
                                </li>
                                <li>
                                    <a class="btn menu" href="/users/info/delete">회원 탈퇴 하기</a>
                                </li>
                            </ul>
                        </nav>
                    </aside>
                    <section class="section">
                        <h2 class="title">비밀번호 변경</h2>
                        <div class="contents">
                            <p class="tbl-caption"><span>필수입력</span></p>
                            <div class="tbl-box">
                                <table class="tbl">
                                    <colgroup>
                                        <col width="200px" />
                                        <col />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                <span class="required">현재 비밀번호</span>
                                            </th>
                                            <td>
                                                <input
                                                    class="input input-box"
                                                    type="password"
                                                    id="passwordInput"
                                                    placeholder="비밀번호를 입력해주세요"
                                                />
                                                <button
                                                    id="passwordCheckBtn"
                                                    class="btn btn-main-line"
                                                >
                                                    일치 확인
                                                </button>
                                                <p id="passwordCheck" class="msg"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <span class="required">새 비밀번호</span>
                                            </th>
                                            <td>
                                                <input
                                                    class="input input-box"
                                                    type="password"
                                                    id="newPasswordInput"
                                                    placeholder="새 비밀번호를 입력해주세요"
                                                />
                                                <p id="newPasswordCheck" class="msg"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <span class="required">새 비밀번호 확인</span>
                                            </th>
                                            <td>
                                                <input
                                                    class="input input-box"
                                                    type="password"
                                                    id="passwordInputConfirm"
                                                    placeholder="비밀번호를 한번 더 입력해주세요"
                                                />
                                                <p id="pwConfirmCheck" class="msg"></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tbl-btn-box">
                                <a href="/users/info" class="btn btn-main-line">취소하기</a>
                                <button id="changePassword" class="btn btn-main">
                                    비밀번호변경
                                </button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <footer class="footer"><%- include('../views/partials/footer'); %></footer>
    </body>
</html>
