<!doctype html>
<html lang="ko">
    <head>
        <%- include('../views/partials/head'); %>
        <link rel="stylesheet" href="/css/main-cart.css" />

        <script type="module" src="/js/main-cart.js"></script>

        <title>장바구니</title>
    </head>

    <body class="container">
        <header class="header"><%- include('../views/partials/header'); %></header>

        <main role="main" class="contents">
            <div class="contents-inner">
                <!-- 장바구니 있을 때 -->
                <div id="cartList" class="main-cart-wrap" style="display: none">
                    <div class="main-cart">
                        <div class="utils">
                            <button type="button" id="btnDeleteAll" class="btn btn-delete-opt">
                                전체 삭제
                            </button>
                        </div>
                        <ul class="cart-list" id="cartBox"></ul>
                    </div>

                    <div class="price-info">
                        <div class="box sticky">
                            <dl>
                                <div class="row quantity">
                                    <dt>총 상품 수량</dt>
                                    <dd>
                                        <span class="total-quantity"></span
                                        ><span class="unit">개</span>
                                    </dd>
                                </div>
                                <div class="row total">
                                    <dt>결제 금액</dt>
                                    <dd>
                                        <span class="total-price"></span
                                        ><span class="unit">원</span>
                                    </dd>
                                </div>
                            </dl>
                            <div class="btn-box">
                                <a class="btn btn-main"><span>1</span>개의 상품구매하러가기</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--// 장바구니 있을 때 -->

                <!-- 장바구니 없을 때 -->
                <div id="noCart" class="no-cart" style="display: none">
                    <div class="icon">
                        <img src="/image/empty-icon.png" alt="장바구니없음" />
                    </div>
                    <a href="/" class="btn btn-main">상품 담으러 가기</a>
                </div>

                <!--// 장바구니 없을 때 -->
            </div>
        </main>
        <footer class="footer"><%- include('../views/partials/footer'); %></footer>
    </body>
</html>
