<!doctype html>
<html lang="ko">
    <head>
        <%- include('../views/partials/head'); %>
        <link rel="stylesheet" href="/css/order-detail.css" />

        <title>마이페이지 - 주문내역상세</title>
    </head>

    <body class="container">
        <header class="header"><%- include('../views/partials/header'); %></header>

        <main role="main" class="contents">
            <div class="contents-inner">
                <div class="section-aside-wrap">
                    <aside class="aside">
                        <nav class="sidebar">
                            <h2 class="title">마이페이지</h2>
                            <ul class="sidebar-menu">
                                <li class="on">
                                    <a class="btn menu" href="#"> 주문 내역 </a>
                                </li>
                                <li>
                                    <a class="btn menu" href="/users/info">개인 정보 수정</a>
                                </li>
                                <li>
                                    <a class="btn menu" href="/users/info/edit/pw">비밀번호 변경</a>
                                </li>
                                <li>
                                    <a class="btn menu" href="/users/info/delete">회원 탈퇴 하기</a>
                                </li>
                            </ul>
                        </nav>
                    </aside>
                    <section class="section">
                        <h2 class="title">주문 내역 상세</h2>
                        <div class="contents">
                            <div class="order-list-wrap">
                                <ul class="order-list">
                                    <li class="order-item">
                                        <div class="thum">
                                            <img
                                                src="/image/img-product01.jpg"
                                                alt=""
                                                class="상품 대표 이미지"
                                            />
                                        </div>
                                        <div class="item">
                                            <span class="sub">주문번호</span>
                                            <span class="desc">4123555223232</span>
                                            <span class="price">229,000원</span>
                                        </div>
                                    </li>
                                    <li class="order-item">
                                        <div class="thum">
                                            <img
                                                src="/image/img-product04.jpg"
                                                alt=""
                                                class="상품 대표 이미지"
                                            />
                                        </div>
                                        <div class="item">
                                            <span class="sub">주문번호</span>
                                            <span class="desc">2292514900955</span>
                                            <span class="price">2,790,000원</span>
                                        </div>
                                    </li>
                                    <li class="order-item">
                                        <div class="thum">
                                            <img
                                                src="/image/img-product03.jpg"
                                                alt=""
                                                class="상품 대표 이미지"
                                            />
                                        </div>
                                        <div class="item">
                                            <span class="sub">주문번호</span>
                                            <span class="desc">3727382819233</span>
                                            <span class="price">119,000원</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <p class="tbl-caption">
                                <a href="/users/info" class="btn btn-edit">배송지 수정하기 > </a>
                            </p>
                            <div class="tbl-box">
                                <table class="tbl">
                                    <colgroup>
                                        <col width="200px" />
                                        <col />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th scope="row">
                                                <span>받는 분</span>
                                            </th>
                                            <td>체셔</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <span>휴대폰</span>
                                            </th>
                                            <td>010-0000-0000</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <span>이메일</span>
                                            </th>
                                            <td>cheshire@elice.com</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <span>배송지</span>
                                            </th>
                                            <td>서울 성동구 아차산로17길 48 성수낙낙 2층</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </main>
        <footer class="footer"><%- include('../views/partials/footer'); %></footer>
    </body>
</html>
