<!doctype html>
<html lang="ko">
    <head>
        <%- include('../views/partials/head'); %>
        <link rel="stylesheet" href="/css/signin.css" />

        <script type="module" src="/js/signin.js"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" defer></script>
        <title>회원가입</title>
    </head>

    <body class="container">
        <header class="header"><%- include('../views/partials/header'); %></header>
        <main role="main" class="contents">
            <div class="contents-inner">
                <div class="signin-wrap">
                    <h2 class="title">회원가입</h2>
                    <div class="tbl-box">
                        <table class="tbl">
                            <colgroup>
                                <col width="100px" />
                                <col />
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                        <span>이메일</span>
                                    </th>
                                    <td>
                                        <input
                                            type="text"
                                            id="emailInput"
                                            class="input input-box"
                                            placeholder="예: customit@custom.com"
                                        />
                                        <button id="emailCheckBtn" class="btn btn-main-line">
                                            중복확인
                                        </button>
                                        <p id="emailCheck" class="msg"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                        <span>비밀번호</span>
                                    </th>
                                    <td>
                                        <input
                                            type="password"
                                            id="passwordInput"
                                            class="input input-box"
                                            placeholder="비밀번호를 입력해주세요"
                                        />
                                        <p id="passwordCheck" class="msg"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">비밀번호 확인</th>
                                    <td>
                                        <input
                                            type="password"
                                            id="passwordInputConfirm"
                                            class="input input-box"
                                            placeholder="비밀번호를 한번 더 입력해주세요"
                                        />
                                        <p id="pwConfirmCheck" class="msg"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">이름</th>
                                    <td>
                                        <input
                                            type="text"
                                            id="nameInput"
                                            class="input input-box"
                                            placeholder="이름은 2~4글자로 입력해주세요."
                                        />
                                        <p id="nameCheck" class="msg"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">휴대폰</th>
                                    <td>
                                        <input
                                            type="tel"
                                            id="phoneNumInput"
                                            class="input input-box"
                                            placeholder="'-' 없이 번호만 입력해주세요"
                                            maxlength="13"
                                        />
                                        <p id="phoneNumCheck" class="msg"></p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">주소</th>
                                    <td>
                                        <input
                                            type="text"
                                            id="addressInput"
                                            class="input input-box"
                                            placeholder="우측 주소 검색을 클릭해주세요"
                                            readonly
                                        />
                                        <button id="addressCheckBtn" class="btn btn-main-line">
                                            주소검색
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">상세주소</th>
                                    <td>
                                        <input
                                            type="text"
                                            id="detailAddress"
                                            class="input input-box"
                                            placeholder="상세주소를 입력해주세요"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tbl-btn-box">
                        <a
                            href="#"
                            id="btnSignin"
                            class="btn btn-main"
                            onclick="validateCondition()"
                            >회원가입</a
                        >
                    </div>
                    <div class="login-page">
                        이미 아이디가 있으신가요?
                        <a href="/users/login" class="btn"> 로그인 &gt;</a>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer"><%- include('../views/partials/footer'); %></footer>
    </body>
</html>
