<!doctype html>
<html lang="ko">
    <head>
        <%- include('../views/partials/head'); %>
        <link rel="stylesheet" href="/css/layout.css" />
    </head>

    <body class="container">
        <header class="header"><%- include('../views/partials/header'); %></header>

        <main role="main" class="contents">
            <div class="contents-inner">
                <div class="section-aside-wrap">
                    <aside class="aside">
                        <div class="aside-sticky">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
                            corporis sit earum natus dignissimos iure, tempore voluptas optio
                            numquam? Reiciendis facere, aspernatur ipsa sunt provident tempora
                            dolor? Soluta, ad minus!
                        </div>
                    </aside>
                    <section class="section">
                        <h2 class="section-title">타이틀</h2>
                        <div class="section-contents">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque
                            quos voluptatibus sunt ratione dolor architecto a provident ipsa
                            officiis unde. Eius sit eligendi ratione quo fuga numquam facilis
                            doloremque ipsa!
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <footer class="footer"><%- include('../views/partials/footer'); %></footer>
    </body>
</html>
