.empty-orderlist-wrap {
    max-width: 660px;
    padding: 0 30px;
    margin-top: 92px;
    margin-right: 450px;
    margin-bottom: 500px;
}

.blank-box {
    margin-top: 170px;
    margin-right: 50px;
}

.empty-message {
    margin-bottom: 40px;
    margin-left: 10px;
    font-size: 20px;
}
