.complete-message {
    color: #a19a9a;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.order-complete-wrap {
    margin-top: 100px;
    text-align: center;
}

.icon-wrapper {
    flex-shrink: 0;
    width: 179px;
    height: 138px;
    margin-left: 525px;
}

.complete-message {
    margin-bottom: 40px;
}
