@import './layout.css';

.user-secession {
    border-top: 1px solid #535470;
    border-bottom: 1px solid #f2f2f4;
}

.user-secession .info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.user-secession .info span {
    color: #a586f6;
    font-weight: 500;
}

.user-secession .info .paragraph {
    margin: 10px 0;
}

.user-secession .info p {
    margin: 5px 0;
}

.user-secession .password {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 60%;
    padding: 12px 0;
}

.user-secession .password label {
    margin-bottom: 8px;
}

.user-secession .password label span {
    position: relative;
    padding-right: 4px;
}

.user-secession .password label span::before {
    content: '*';
    position: absolute;
    right: -4px;
    top: -4px;
    color: red;
}
