<aside class="aside">
    <h1 class="admin-logo">
        <img src="/image/admin-logo.png" alt="관리자 로고" />
    </h1>
    <ul class="nav">
        <li class="nav-li">
            <a href="/admin/category" class="category btn">카테고리 관리</a>
        </li>
        <li class="nav-li"><a href="/admin/product" class="product btn">상품 관리</a></li>
        <li class="nav-li"><a href="/admin/orders/edit" class="order btn">주문 관리</a></li>
    </ul>
    <div class="logout">
        <button class="btn btn-main-line" id="logout">로그아웃</button>
    </div>
</aside>
<script>
    async function btnLogout(e) {
        e.preventDefault();
        const apiUrl = '/api/admin/logout';
        const res = await fetch(apiUrl, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        });
        if (res.status === 200) {
            window.location.href = res.url;
        } else {
            alert(res.message);
        }
    }

    const $logout = document.querySelector('#logout');
    $logout.addEventListener('click', btnLogout);
</script>
